body {
    font-family: 'Arial', sans-serif;
    background-image: url('background-image.jpg'); /* Path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #ff7442; /* Wood style color */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header a:hover {
    text-decoration: underline;
}

.customization-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #2dd806;
}

.view-customizations {
    display: block;
    text-align: center;
    background-color: #fea218; /* Wood style color */
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    transition: background 0.3s ease-in-out;
}

.view-customizations:hover {
    background-color: #6D4C41; /* Darker wood style color */
}
